
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

@section footerJS{
    <script src="~/Areas/Admin/Scripts/adHocAdmin.js"></script>
}

<style>
    #adHocPanel a:active, a:hover, a:focus {
        color: red;
    }

    #adHocPanel a:hover {
        color: #02ff00;
    }
</style>

<div class="panel panel-default" id="adHocPanel">
    <div class="panel-body">
        <div class="col-md-3">
            <h2>
                <strong>Ad-hoc Queries</strong>
            </h2>
            <br />

            <p>Tabels and Columns</p>
            <ul style="padding: 0; list-style-type: none;">
                <li><a href="">Artist</a></li>
                <li><a href="">Cart</a></li>
                <li><a href="">CartItem</a></li>
                <li><a href="">Error</a></li>
                <li><a href="">Order</a></li>
                <li><a href="">OrderDetail</a></li>
                <li><a href="">OrderNumber</a></li>
                <li><a href="">Product</a></li>
                <li><a href="">Rating</a></li>
                <li><a href="">User</a></li>
            </ul>
        </div>

        <div class="col-md-9">
            <p style="background: #DCDCDC; padding: 8px;">This page highlights the flexibility of Agile FX 4.5. This page accepts any ad-hoc SQL query (including SELECT, INSERT, UPDATE, DELETE) and it will display the results. On the left hand side are the database schema details. Clicking on a table name will show it columns. Several built-in queries are available by selecting the dropdown next to the Submit and Clear buttons. Although very useful and powerful, we do not recommend deploying this functionality with your the public internet apps.</p>
            <p>Query: <i style="color:red">the record counts of all tables</i></p>
            <textarea id="txtAdHocQuery" style="width: 100%; height: 250px;"></textarea>
            <div>
                <div class="col-md-3" style="padding: 0;">
                    <button style="width: 80%" type="button" class="btn btn-success" onclick="return AdHocQuery()">Submit</button>
                </div>
                <div class="col-md-3" style="padding: 0;">
                    <button style="width: 80%" type="button" class="btn btn-warning" onclick="return ClearAdHoc()">Clear</button>
                </div>
                <div class="col-md-5" style="padding: 0; display: inline-flex; float: right">
                    <span style="width: 50%; line-height: 250%;"><strong>Built-in queries</strong></span>
                    <select id="slBuiltQuery" class="form-control" onchange="BuiltQuery()">
                        <option value="RecordCount">Record Count</option>
                        <option value="OrderUser">Order's User</option>
                        <option value="ProductArtist">Product's Artist</option>
                        <option value="UpdateStatics">Update Statistics</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p><strong>Result: </strong></p>
        <div>
            <table class="table table-hover" id="adHocResult"></table>
        </div>
    </div>
</div>

