
@{
	ViewBag.Title = "CheckOut";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/checkout.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/css/creditly.css" type="text/css" media="all" />
<section class="checkout py-lg-4 py-md-3 py-sm-3 py-3">
	<div class="container py-lg-5 py-md-4 py-sm-4 py-3">
		<div class="ads-grid_shop">
			<div class="shop_inner_inf">
				<div class="privacy about">
					<h4 class="go-back m-2">
						<a href="@Url.Action("Cart","Shopping")"><span class="fas fa-undo"></span>  Back To Cart</a>
					</h4>
					<h1>Payment</h1>

					<div class="resp-tabs-container">
						<div class="tab2">
							<div class="pay_info">
								<form action="@Url.Action("CheckOut","Shopping", new { status=""})" method="post" class="creditly-card-form agileinfo_form">
									<section class="creditly-wrapper wthree, w3_agileits_wrapper">
										<div class="credit-card-wrapper">
											<div class="first-row form-group">
												<div class="row">
													<div class="col-md-6">
														<div class="controls">
															<label class="control-label">Card Type</label>
															<div class="section_room_pay">
																<select class="year">
																	<option value="">Select</option>
																	<option value="ALB-NA">VISA</option>
																	<option value="ADB-NA">Master Card</option>
																	<option value="BBK-NA">Credit Card</option>
																	<option value="BBC-NA">Debit</option>
																</select>
															</div>
														</div>
														<div class="controls">
															<label class="control-label">Name on Card</label>
															<input class="billing-address-name form-control" type="text" name="name" placeholder="John Smith">
														</div>
														<div class="controls">
															<label class="control-label">Card Number</label>
															<input class="number credit-card-number form-control" type="text" name="number" inputmode="numeric" autocomplete="cc-number"
																   autocompletetype="cc-number" x-autocompletetype="cc-number" placeholder="&#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149;">
														</div>
														<div class="controls">
															<label class="control-label">CVV</label>
															<input class="security-code form-control" · inputmode="numeric" type="text" name="security-code" placeholder="&#149;&#149;&#149;">
														</div>
														<div class="controls">
															<label class="control-label">Expiration Date</label>
															<input class="expiration-month-and-year form-control" type="text" name="expiration-month-and-year" placeholder="MM / YY">
														</div>
													</div>
													<div class="col-md-6">
														<p>
															This Page accepts credit cards. However. It is simple a placeholder and card data is neither
															validated not stored
														</p>
														<p>
															But please go ahead and submit for processing which demonstrates a nice example of the Unit-of-Work pattern in which new order records are created and original cart records are deleted
														</p>
													</div>
												</div>
											</div>
											<button class="submit"><span>Make a payment </span></button>
										</div>
									</section>
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- //payment -->
			<div class="clearfix"></div>
		</div>
	</div>
</section>

<!--// cart-js -->
<!--jQuery-->
<script src="~/Content/js/jquery-2.2.3.min.js"></script>

<!-- credit-card -->
<script src="~/Content/js/creditly.js"></script>
@*<link rel="stylesheet" href="~/Content/css/creditly.css" type="text/css" media="all" />
	<script>
		var $j = jQuery.noConflict();
		$j(function () {
			var creditly = Creditly.initialize(
				'.creditly-wrapper .expiration-month-and-year',
				'.creditly-wrapper .credit-card-number',
				'.creditly-wrapper .security-code',
				'.creditly-wrapper .card-type');

			$j(".creditly-card-form .submit").click(function (e) {
				e.preventDefault();
				var output = creditly.validate();
				if (output) {
					// Your validated credit card output
					console.log(output);
				}
			});
		});
	</script>*@
<!-- //credit-card -->